@media screen {
    body {
        background-color: ghostwhite
    }
    .container-title {
        background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0.7) 85%,
                rgba(0, 0, 0, 1) 100%
            ),
            url(graphic.jpeg);
        height: 650px;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        color: white;
        text-align: center;
        font-family: sans-serif;
        position: relative;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    .title {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .title h1 {
        font-family:
            Instrument Sans,
            sans-serif;
        font-size: 35px;
        font-weight: 500;
    }
    .title h2 {
        font-family:
            Noto Serif,
            serif;
        font-size: 20px;
        margin-bottom: 20px;
    }
    button {
        border: none;
        border-radius: 15px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
        transition: background-color 0.5s;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: #2ebc65;
    }

    .container-byline {
        margin: auto;
        text-align: center;
    }

    .container-byline img {
        border: solid;
        border-color: black;
        border-width: 2px;
        border-radius: 50px;
        margin: auto;
    }

    .container-byline p {
        padding-bottom: 1px;
        margin: auto;
    }

    .container-byline a {
        text-decoration: none;
        color: #2ebc65;
    }

    .container-story {
        font-family:
            Noto Serif,
            serif;
        font-size: 18px;
        margin: auto;
        min-width: 400px;
        max-width: 600px;
        align-items: center;
        line-height: 2
    }
    
    #dropcap {
        font-size: 90px;
        float: left;
        line-height: 1;
        color: #2ebc65;
        text-shadow: 3px 3px black;
        margin-right: 6px;
        margin-bottom: 2px;
    }

    .pullquote {
        background-color: #dbdbdb;
        border: solid 4px #2ebc65;
        border-radius: 25px;
        color: black;
        padding: 20px;
        padding-top: 15px;
        margin-bottom: 25px;
        box-shadow: -7px 7px black, -5px 5px black, -2px 2px black;
    }
    
    .quote {
        font-family: Instrument Sans, sans-serif;
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: 5px;
        text-align: left;
    }
    
    .attribution {
        font-family: Instrument Sans, sans-serif;
        margin-bottom: -8px;
        text-align: left;
    }
    
    .quote-spacer {
        width: 80px;
        margin-top: 15px;
    }
    
    .graf-spacer {
        width: 250px;
        padding: 5px;
        margin: auto;
    }
    
    .elementRight {
        float:right;
        width:30%;
        margin-bottom: -10px;
    }
    
    .imgRight {
        width: 200px;
        margin: 15px;
        margin-right: -35px;
        border-radius: 15px;
        border: solid 4px #2ebc65;
        box-shadow: 7px 7px black, 5px 5px black, 2px 2px black;
    }

    .capRight {
        float: right;
        color: darkgray;
        font-size: 12px;
        width: 80%;
        text-align: center;
    }
    
    .elementLeft {
         float:left;
        width:30%;
        margin-bottom: -10px;
    }
    
    .imgLeft {
        width: 200px;
        float: left;
        margin: 15px;
        margin-left: -50px;
        border-radius: 15px;
        border: solid 4px #2ebc65;
        box-shadow: -7px 7px black, -5px 5px black, -2px 2px black;
    }
    
    .capLeft {
        float: left;
        color: darkgray;
        font-size: 12px;
        width: 60%;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 300px;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 4px #2ebc65;
        box-shadow: -7px 7px black, -5px 5px black, -2px 2px black;
    }

    li {
        font-family:
            Times New Roman,
            sans-serif;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
        min-width: 400px;
        max-width: 600px;
    }
}

@media (min-width: 100px) {
}
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*xlarge*/
@media (min-width: 1200px) {
}

/*xxlarge*/
@media (min-width: 1400px) {
}