body {
    background-color: antiquewhite;
}
h2 {
    font-weight: 300;
}
.flourish-embed flourish-chart {
    width: 100px;
    margin: auto;
}
#article {
    margin-left:5%;
    margin-right:5%;
    margin-top: 5%;
}