/*
MY COLOR PALETTE
Color 1 - #fffaeb
Color 2 - #72553e
Color 3 - #618951
Color 4 - #b9cb88
Color 5 - #b888b5
*/
body {
    background-color: #fffaeb;
    font-family:
        Special Gothic,
        sans-serif;
    align-content: center;
    text-align: center;
}
h1 {
    font-weight: 500;
}
h2 {
    font-weight: 100;
}
button {
    background-color: #b9cb88;
    font-family:
        Special Gothic,
        sans-serif;
    color: #72553e;
    font-size: 30px;
    border: none;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
}
button:hover {
    background-color: #618951;
}