body {
    background-color: #fffaeb;
    font-family:
        Special Gothic,
        sans-serif;
}
h1 {
    font-weight: 5;
    color: #72553e;
    font-size: 60px;
}
h2 {
    font-weight: 500;
    color: #618951;
    font-size: 40px;
}
#title {
    margin-top: auto;
    margin-bottom: 20px;
    padding-left: 8%;
    padding-top: 40px;
}
button {
    margin-top: 60px;
    background-color: #b9cb88;
    color: #72553e;
    margin-left: auto;
    text-align: center;
    width: 130px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
}
button:hover {
    background-color: #618951;
    color: #fffaeb;
}
#nav {
    background-color: #72553e;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    text-align: center;
    color: #fffaeb;
    width: 100%;
}
a {
    color: #fffaeb;
    text-decoration: none;
}
a:hover {
    color: #b9cb88;
}
#info {
    margin-left: 4%;
}
#eduinfo {
    margin-left: 5%;
}
img {
    width: 250px;
    border-radius: 20px;
    border: 6px solid #b888b5;
    margin-top: 25px;
}
p {
    color: #b888b5;
}
h4 {
    color: #72553e;
    margin-bottom: 20px;
}
h5 {
    color: #618951;
}
ul {
    color: #618951;
    font-weight: 500;
}
@media (min-width: 100px) {
    #title {
        text-align: center;
    }
     h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;
    }
    img {
        width: 300px;
        margin-left: 70px;
    }
}
/*small*/
@media (min-width: 576px) {
    #title {
        text-align: left;
    }
    h1{
        font-size: 70px;
    }
    h2{
        font-size: 50px;
    }
    img {
        width: 300px;
        margin-left: 1px;
    }
}

/*medium*/
@media (min-width: 768px) {
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;
    }
    img {
        width: 300px;
    }
}

/*large*/
@media (min-width: 992px) {
     h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;
    }
    img {
        width: 300px;
    }
}

/*xlarge*/
@media (min-width: 1200px) {
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;
    }
    img {
        width: 300px;
    }
}

/*xxlarge*/
@media (min-width: 1400px) {
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;
    }
    img {
        width: 300px;
    }
}